@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

html,
body {
  background-color:whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
