@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

html,
body {
  background-color:whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.action {
  display: flex;
  flex-wrap: wrap;
  color: #7a7a7a;
  font-size: 14px;
}

.action span {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  cursor: pointer;
}

.action span:first-child:hover {
  color: #ec670e;
}

.action span:last-child:hover {
  color: #b52222;
}

.action i {
  font-size: 20px;
}

.action .fa-angle-down {
  font-size: 16px;
}

.light{
  background-color:whitesmoke;
}

.dark {
  background: #06301b;
}

.dark .dark-theme-header {
  background-color: #06301b;
}

.dark .dark-theme-text {
  color: white !important;
}

