.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    padding: 5px;
    background-color: rgb(197, 184, 184);
  
  }
  
  .toolbar-input{
    cursor: pointer;
  }